{% extends 'templates/app.twig' %}

{% block content %}
<div class="container-scrolling">
  {% include 'templates/partials/carousel.twig' %}
  <div class="container">
    <h1 class="text-center">
      Bienvenido
    </h1>
    <div class="con-sm-6 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
              Franquisia 1
            </h3>
        </div>
        <div class="panel-body">
          <img class="img-height-150" src="https://images.alphacoders.com/438/438979.jpg" style="width:100%" alt="">
        </div>
        <div class="panel-footer">
          <button class="bnt btn-elegant">
            Visitar
          </button>
        </div>
      </div>
    </div>
    <div class="con-sm-6 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
              Franquisia 2
            </h3>
        </div>
        <div class="panel-body">
          <img class="img-height-150" src="https://images.alphacoders.com/438/438979.jpg" style="width:100%" alt="">
        </div>
        <div class="panel-footer">
          <button class="bnt btn-elegant">
            Visitar
          </button>
        </div>
      </div>
    </div>
    <div class="con-sm-6 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
              Franquisia 3
            </h3>
        </div>
        <div class="panel-body">
          <img class="img-height-150" src="https://images.alphacoders.com/438/438979.jpg" style="width:100%" alt="">
        </div>
        <div class="panel-footer">
          <button class="bnt btn-elegant">
            Visitar
          </button>
        </div>
      </div>
    </div>
    <div class="con-sm-6 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
              Franquisia 1
            </h3>
        </div>
        <div class="panel-body">
          <img class="img-height-150" src="https://images.alphacoders.com/438/438979.jpg" style="width:100%" alt="">
        </div>
        <div class="panel-footer">
          <button class="bnt btn-elegant">
            Visitar
          </button>
        </div>
      </div>
    </div>
    <div class="con-sm-6 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
              Franquisia 2
            </h3>
        </div>
        <div class="panel-body">
          <img class="img-height-150" src="https://images.alphacoders.com/438/438979.jpg" style="width:100%" alt="">
        </div>
        <div class="panel-footer">
          <button class="bnt btn-elegant">
            Visitar
          </button>
        </div>
      </div>
    </div>
    <div class="con-sm-6 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
              Franquisia 3
            </h3>
        </div>
        <div class="panel-body">
          <img class="img-height-150" src="https://images.alphacoders.com/438/438979.jpg" style="width:100%" alt="">
        </div>
        <div class="panel-footer">
          <button class="bnt btn-elegant">
            Visitar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
