<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> Conoditalia</title>
  <link rel="stylesheet" href="{{ base_url() }}/public/static/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
</head>
<body>
  {% include 'templates/partials/navbar.twig' %}
  {% include 'templates/partials/side.twig' %}
  {% block content %}
  {% endblock %}
  {% include 'templates/partials/footer.twig' %}
  <script rel="stylesheet" src="{{ base_url() }}/public/static/js/main.js"> </script>
  <script rel="stylesheet" src="{{ base_url() }}/public/static/js/importer.js"> </script>
  <script rel="stylesheet" src="{{ base_url() }}/public/static/js/components.js"> </script>
</body>
</html>
