<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header" style="width:100%">
      <a class="navbar-brand" href="#">
        <img src="{{ base_url() }}/public/static/imgs/logocono2.png" style="width:149px;margin-top:-43px" alt="">
      </a>
      <span class="menu-container pull-right">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </span>
    </div>
  </div><!-- /.container-fluid -->
</nav>
