<div class="side-layout">
  <div class="side-container animated bounceOutLeft">
    <div class="side-menu-header">
    </div>
    <div class="side-menu-body">
      <ul class="side-menu-list">
        <li class="side-menu-item">
          <a href="#"><i class="fa fa-home"></i> Inicio</a>
        </li>
        <li class="side-menu-item">
          <a href="/locals"><i class="fa fa-cutlery"></i> Franquicias</a>
        </li>
        <li class="side-menu-item">
          <a href="/about"><i class="fa fa-users"></i> Sobre Nosotros</a>
        </li>
        <li class="side-menu-item">
          <a href="#"><i class="fa fa-phone"></i> Contactos</a>
        </li>
        <li class="side-menu-item">
          <a href="#"><i class="fa fa-user"></i> Ayuda</a>
        </li>
      </ul>
    </div>
  </div>
</div>
