@import "colors.scss";

@import "https://fonts.googleapis.com/css?family=Lobster+Two|Pacifico|Lobster|Yatra+One|Yellowtail";

//$font-family-sans-serif:  "Pacifico", cursive, sans-serif !default;
//$font-family-sans-serif:  "Yatra One", "cursive", sans-serif !default;
$font-family-sans-serif: "Lobster Two", cursive;
$headings-font-weight: 500;
$panel-body-padding: 15px !default;
$panel-default-heading-bg: $turquoside;
$panel-default-text: $cloud;
$panel-default-border: transparent;
$panel-footer-bg: white;
$icon-font-path: "../fonts/";
$carousel-caption-color: $cloud;
$carousel-text-shadow: 0 1px 2px rgba($red, 0.2);
$carousel-control-color: $red;
$carousel-control-width: 16%;
$carousel-control-opacity: 0.5;
$carousel-indicator-active-bg: $red;
$carousel-indicator-border-color: $red;
$carousel-caption-color: $cloud;
