@import "colors.scss";

@import "https://fonts.googleapis.com/css?family=Lobster+Two|Pacifico|Yatra+One|Yellowtail";

//$font-family-sans-serif:  "Pacifico", cursive, sans-serif !default;
//$font-family-sans-serif:  "Yatra One", "cursive", sans-serif !default;
$font-family-sans-serif: "Lobster Two", cursive;
$headings-font-weight: 500;
$panel-body-padding: 15px !default;
$panel-default-heading-bg: $turquoside;
$panel-default-text: $cloud;
$panel-default-border: transparent;
$panel-footer-bg: white;

